Pods
MVVMCS.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MVVMCS.xcworkspace/xcuserdata/ducle.xcuserdatad/UserInterfaceState.xcuserstate
MVVMCS.xcworkspace/xcuserdata/ducle.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MVVMCS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MVVMCS.xcodeproj/project.xcworkspace/xcuserdata/ducle.xcuserdatad/UserInterfaceState.xcuserstate
MVVMCS.xcodeproj/xcuserdata/ducle.xcuserdatad/xcschemes/xcschememanagement.plist
